body{
    color:rgb(68,68,68);
    background-color: rgb(246, 246, 246);
    min-width: 1355px;
    font: 12px Regular, 微软雅黑, "Microsoft Yahei";
}
*{
    margin:0;padding:0;
    outline:0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
    color:#444;
}